extends layout

block meta
    title #{__('趣涂在线函数画图 - 小巧灵活的在线绘图应用，支持隐函数作图！')}
    link(rel="stylesheet", type="text/css", href="/stylesheets/legacy/appLayoutStyles.css")
    script(src="/javascripts/legacy/common.js")
    meta(name="keywords", content="#{__('函数涂鸦板, 涂鸦板, 函数作图, 函数作图器, 作图器, 图形, 在线画图, 在线作图, 在线函数作图器, 2维函数图形, 图形计算器,隐函数作图')}")
    meta(name="description", content="#{__('在线函数画图。这是一款小巧灵活的在线函数作图工具，多函数支持，而且能够作出隐函数图像！支持 LaTex 表达式，还可以用作在线公式编辑器、图形计算器。')}")
    link(rel="stylesheet", type="text/css", href="/stylesheets/legacy/FunGrapherStyles.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/legacy/iconfontsFico.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/legacy/mathquill/mathquill.css")
    include compatibility/ie.html
    script(src="/javascripts/legacy/function-grapher.js")
    script(src="/javascripts/legacy/function-grapher-new.js")
    script(src="/javascripts/legacy/globalize.js")
    script(src="/javascripts/legacy/jquery.flot.menuBar.js")

block content
    div(class="page")
        div(id="main")
            div(id="app")
                div(id="funGrapher")
                    div(id="canvasWrapper")
                        div(id="canvas")
                            div(id="loading")
                                | 正在加载中……就快出来了！^_^
                    button(type="button", class="button hide link-button", for="#control-panel", accesskey="<", onclick="$('#controls').show();$(this).hide()", style="display: none; position: absolute; right: 0; top: 0; right: 20px;")
                        span(class="icon-left")
                    div(id="controls")
                        div(id="leftPanel")
                            div(class="title")
                                label(for="taFunctionList", style="float: left;")
                                    button(type="button", class="button hide link-button", for="#control-panel", accesskey=">", onclick="$('#controls').hide();$('.button.hide.link-button').show();")
                                        span(class="icon-right")
                                    | 请输入函数表达式：
                                span(style="float: left;")
                                    | (
                                    a(id="example-link", href="http://zizhujy.com/FunctionGrapher?examples=true&src=baiduApp&fns=base64%252FWyJ5PSh4LTUpXjMiLCJ5PS14XFxsZWZ0XFx7MDx4PDJcXHNxcnR7Mn1cXHJpZ2h0XFx9IiwieT14XFxsZWZ0XFx7LTJcXHNxcnR7Mn08eDwwXFxyaWdodFxcfSIsIng9NFxcY29zKHQpO3k9NFxcc2luKHQpIiwieT1cXGxlZnR8eCtzaW5cXGxlZnQoeFxccmlnaHQpXFxyaWdodHwiXQ%253D%253D", target="_blank", title="示例")
                                        | 示例
                                    | )
                                input(type="button", style="float: right;", id="btnClearAll", value="×", title="清除全部")
                                div(class="clearFloat")
                                div(class="expressionLine")
                                    div(id="taExpression3", class="expressionBox")
                                        span(class="mathquill-editable")
                                        span(class="icon clear")
                                            | ×
                                div(class="clearFloat")
                                div(id="adZone")
                                div(id="appLeftBg")
                                div(id="appRightBg")
                                div(class="clearFloat")
                                div(class="app-footer")
                                    span(style="float: left; width: 72px; overflow: hidden; display: inline-block; padding: 0; margin: 0;")
                                        a(href="https://github.com/Jeff-Tian", target="_blank")
                                            | 作者
                                    span(style="float: right; width: 468px; display: inline-block; padding: 0; margin: 0;")
                                div(id="mask-layer")
                                    div(class="mask")
                                    div(class="content")
                                        h2
                                            | 正在计算
                                        p
                                            | 请稍等片刻，正在努力地计算中……
                                    textarea(id="noop", rows="0", cols="0")