doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="robots", content="index, follow")
        block meta
    body
        block content
