doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="robots", content="index, follow")
        block meta
    body
        block content
